/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #e5f099, #e8d48a);
    color: white;
}



.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    z-index: 1;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

label i {
    margin-right: 8px;
    color: #007BFF;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="password"]:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

button i {
    margin-right: 8px;
}

button:hover {
    background-color: #0056b3;
}

#error-message {
    font-size: 14px;
    margin-top: 5px;
    color: red;
}

@media (max-width: 480px) {
    .container {
        padding: 15px 20px;
    }

    h2 {
        font-size: 20px;
    }

    input[type="password"],
    button {
        padding: 8px;
        font-size: 14px;
    }
}
